* {
  background-color: #303240;
  color: #B6E9F7;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.title-and-form {
  margin: auto;
  width: 470px;
}

.title-and-form form {
  margin: auto;
  width: 360px;
}

.form-elm {
  outline: none;
  border: 1px solid #097e95;
}

.title-and-form input::placeholder {
  color: #B6E9F7;
  padding-left: 5px;
}

.photo-card-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 430px 430px 430px 430px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-items: stretch;
    align-items: stretch;
    padding: 20px 10px;
    margin: auto;
    width: 920px;
}

.photo-card {
  background-color: #1a1b23;
  position: relative;
  border: 1px solid #097e95;
  padding-top: 10px;
  text-align: center;
}

#photo {
  display: block;
  margin: 0 auto 15px auto;
  width: 250px;
  height: 350px;
}

.photo-card h6 {
  background-color: #1a1b23;
  display: inline;
  font-size: 20px;
  margin: 5px;
}

#delete-btn {
  background-image: url('delete-button.svg');
  background-size: 19px 19px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  height: 20px;
  outline: none;
  border: none;
  width: 20px;
}
